body {
  font-family: Helvetica, Arial, sans-serif;
  color: gray;
}
h1 {
  padding: 25vh 0 2rem 0;
  font-size: 30px;
  margin: auto;
  text-align: center;
  font-weight: normal;
}
p {
  text-align: center;
  margin: auto;
  font-size: 20px;
  padding: 20px;
}
small {
  text-align: center;
  margin: auto;
  padding: 20px;
  display: block;
}
input {
  border: 1px solid gray;
  font-size: 30px;
}
input[type=text] {
  display: block;
  margin: auto;
  text-align: center;
  color: gray;
  padding: 10px;

}
button {
  position: absolute;
  padding: 1rem;
  opacity: 0;

}
.hidden {
  display: none !important;
}
canvas {
  position: absolute;

  /* These settings are best for screenshots */
  top: 0;
  left: 0;
  right: 0;

  /* Disable this for screenshots */
  /*  max-width: 1200px; */
}